@model VFHCatalogMVC.Application.ViewModels.Plant.PlantSeedlingsForListVm

@{
    ViewData["Title"] = "IndexSeedlings";
}

<body>
<div id="PlaceHolderHere"></div>

<h3 class="text-center">Sadzonki użytkowników</h3>

@if (User.IsInRole("PrivateUser") || User.IsInRole("Admin"))
{
    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#Plant" data-url="@Url.Action($"AddSeedling/{Model.PlantId}")">+Sadzonki</button>
}
<form asp-action="IndexSeedlings" asp-controller="Plants" method="post">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">     
                     <label asp-for="Address.CountryId" class="control-label">Kraj</label>
                     <select id="ddlCountry" asp-for="Address.CountryId" name="countryId" class="form-control" 
                        aria-label="Country" asp-items="@(new SelectList(ViewBag.CountriesList,"Value", "Text", 
                        selectedValue: ViewBag.CountryId))"></select>
                     <label asp-for="Address.RegionId" class="control-label">Województwo</label>
                     <select id="ddlRegion" asp-for="Address.RegionId" name="regionId" class="form-control" 
                        aria-label="Region" asp-items="@(new SelectList(ViewBag.RegionsList,"Value", "Text", 
                        selectedValue: ViewBag.RegionId))"></select>
                     <label asp-for="Address.CityId" class="control-label">Miasto</label>
                     <select id="ddlCity" asp-for="Address.CityId" name="CityId" class="form-control" 
                        aria-label="City" asp-items="@(new SelectList(ViewBag.CitiesList,"Value", "Text",
                        selectedValue:ViewBag.CityId))"></select>
                     @if (User.IsInRole("PrivateUser") || User.IsInRole("Company"))
                    {
                        <label asp-for="isCompany" class="control-label text-md-center">Tylko firmy</label>
                        @Html.CheckBoxFor(m=>Model.isCompany, new { @class = "checkbox" , id="isCompany", name="isCompany"})
                    }
                    else
                    {
                        <label asp-for="isCompany" class="control-label text-md-center">Tylko firmy</label>
                        @Html.CheckBoxFor(m=>Model.isCompany, new { @class = "checkbox" , id="isCompany", name="isCompany", disabled="disabled"})
                    }
                    <button class="btn btn-outline-success" type="submit" id="Submit">Szukaj</button>
                </div>      
            </nav>
        </div>
        <table class="table-striped table-hover">
            <thead class="thead-light">
                <tr class="text-center">
                    <th class="col-md-2">
                        Użytkownik
                    </th>
                    @if (Model.isCompany == true)
                    {
                        <th class="col-md-1">
                            Link
                        </th>
                    }
                    else
                    {
                        <th class="col-md-1">
                            Ilość
                        </th>
                    }
                    <th class="col-md-3">
                        Opis
                    </th>
                    <th class="col-md-2">
                        Data dodania
                    </th>
                    <th class="col-md-3">
                        Opinie
                    </th>
                    <th class="col-md-1">
                        Cena
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var item in Model.PlantSeedlings) {
                    <tr class="text-center">
                        <td>
                           @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        @if (Model.isCompany == true)
                        {
                        <td>
                             @if (User.IsInRole("PrivateUser") || User.IsInRole("Company"))
                              {
                               <a href="@item.ContactDetail.ContactDetailInformation" target="_blank">Idź do strony</a>
                              }
                                else
                                  {
                                   <a href="@item.ContactDetail.ContactDetailInformation" @*target="_blank"*@>Idź do strony</a>
                                  }
                                    </td>
                        }
                        else
                        {
                         <td>
                            @Html.DisplayFor(modelItem => item.Count)
                         </td>
                        }
                        <td class="text-wrap">
                         @Html.DisplayFor(modelItem => item.Description)
                        </td>
                         <td>
                          @Html.DisplayFor(modelItem => item.Date)
                         </td>
                        <td>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOpinions" aria-expanded="false" aria-controls="collapseOpinions" onscroll="true">
                                Opinie
                            </button>
                            <div class="collapse" id="collapseOpinions">
                                <div class="card card-body">
                                    <table class="table-hover" border="0">
                                        <tbody>
                                            @if (item.PlantOpinions != null)
                                            {
                                                @for (int i = 0; i < item.PlantOpinions.Count; i++)
                                                {
                                                    <tr class="text-center">
                                                        <td>
                                                            @Html.DisplayFor(it=>item.PlantOpinions[i].Opinion)
                                                         <td />                                                      
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=> item.Price)
                        </td>
                        <td>
                                @if (User.IsInRole("PrivateUser") || User.IsInRole("Company") && item.UserId != Model.LoggedUserName)
                            {
                                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#Message" data-url="@Url.Action("SendPlantMessage","Message",new {id=item.PlantId, ownerId =item.UserId, seedlings=true})">Wyślij wiadomość</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary" disabled="disabled" data-toggle="ajax-modal" data-target="#Message" data-url="@Url.Action("SendPlantMessage", "Message", new { id = item.PlantId, ownerId = item.UserId, seedlings = true })">Wyślij wiadomość</button>
                                }
                            </td>
                     </tr>
}
            </tbody>
        </table>
        <div class="row">
            <table>
                <tr>
                    @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                    {
                            <td>
                            @if (i != Model.CurrentPage)
                            {
                               <a href="javascript:PagerClick(@i)">@i</a>
                            }
                            else
                            {
                                <span>@i</span>
                            }
                            </td>

                    }
                </tr>
            </table>
            <input type="hidden" name="pageNo" id="pageNo" />
            <input type="hidden" name="pageSize" id="pageSize" value="30" />
        </div>
        </div>
</form>
</body>

@section Scripts
    {
    <script type="text/javascript">

        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }

        $(function () {
            $("#ddlCountry").change(function () {
                $.post("@Url.Action("GetRegions","User")", { id: $("#ddlCountry").val() }, function (d) {
                    var row = "";
                    $("#ddlRegion").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlRegion").html(row);
                })
            })
        })
        $(function () {
            $("#ddlRegion").change(function () {
                $.post('@Url.Action("GetCities","User")', { id: $("#ddlRegion").val() }, function (d) {
                    var row = "";
                    $("#ddlCity").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlCity").html(row);
                })
            })
        })
    </script>
}
