@model VFHCatalogMVC.Application.ViewModels.Plant.ListPlantForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome in plants catalog</h1>

<p>
    <a asp-action="AddPlant">Create New</a>
</p>
<form asp-action="Index" asp-controller="Plants" method="post">
    @*<div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString"/>
        <input type="submit" value="Wyszukaj"/>
     </div>*@
     <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    @*<a class="navbar-brand" href="#">Navbar</a>*@
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <form class="d-flex" role="search">
         @* <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ddlType" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Type
          </a>             
          <ul class="dropdown-content" aria-labelledby="ddlType">
              <select id="ddlType" asp-for="PlantForList.TypeId" name="typeId" class="form-control" asp-items="@(new SelectList(ViewBag.TypesList,"Value", "Text"))"></select>
             @* @foreach (var item in new SelectList(ViewBag.TypesList,"Value", "Text")) 
             {
                 <li><button class="dropdown-item">@item.Text</button></li>
             }
            <li><button class="dropdown-item" >Action</button></li>
            <li><button class="dropdown-item">Another action</button></li>
         @* </ul>
        </li> *@  
         <label asp-for="PlantForList.TypeId" class="control-label me-3">Type</label>
               <select id="ddlType" asp-for="PlantForList.TypeId" name="typeId" class="form-control" aria-label="Type" asp-items="@(new SelectList(ViewBag.TypesList,"Value", "Text"))"></select>
           <label asp-for="PlantForList.GroupId" class="control-label me-2">Group</label>
               <select id="ddlGroup" asp-for="PlantForList.GroupId" name="groupId" class="form-control" aria-label="Group" asp-items="@(new SelectList(string.Empty,"Value", "Text","Group"))" ></select>
           <label asp-for="PlantForList.SectionId" class="control-label me-2">Section</label>
               <select id="ddlSection" asp-for="PlantForList.SectionId" name="sectionId" class="form-control" aria-label="Section" asp-items="@(new SelectList(string.Empty,"Value", "Text","Section"))"></select>
           <input type="hidden" name="pageNo" id="pageNo"/>
           <input type="hidden" name="pageSize" id="pageSize" value="2"/>   
        <input class="form-control me-2" asp-for="SearchString" name="searchString" id="searchString" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<p></p>
<p></p>
<div class="row">
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Photo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Plants) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Image)
                <img src="/images/@item.Photo" class="img-fluid" width="120" height="80" asp-append-version="true"/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div>
    <table>
        <tr>
            @for(int i =1;i<Math.Ceiling(Model.Count/(double)Model.PageSize);i++)
            {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                         <span>@i</span>   
                        }
                    </td>
                    
                }
            </tr>
    </table>
   
</div>
</form>
@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }

         $(function () {
        $("#ddlType").change(function () {
            $.post("@Url.Action("GetPlantGroupsList")", { typeId: $("#ddlType").val() }, function (d) {
                var row = "";
                $("#ddlGroup").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">"+v.text+"</option>";
                });
                $("#ddlGroup").html(row);
            })
        })
    })
        $(function() {
            $("#ddlGroup").change(function() {
                var tId = $("#ddlType").val();
                var gId = $("#ddlGroup").val();
                $.post('@Url.Action("GetPlantSectionsList")', { groupId: gId, typeId: tId }, function(d) {
                    var row = "";
                    $("#ddlSection").empty();
                    $.each(d, function(i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlSection").html(row);
                })
            })
        })
    </script>

}

@*<a> ancor tworzy link do strony albo do innego elementu</a>*@
