@model VFHCatalogMVC.Application.ViewModels.Plant.ListPlantForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome in plants catalog</h1>

<p>
    <a asp-action="AddPlant">Dodaj nową roślinę</a>
</p>
<form asp-action="Index" asp-controller="Plants" method="post">
     <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">     
      <form class="d-flex" role="search">
         <label asp-for="PlantForList.TypeId" class="control-label me-3">Type</label>
               <select id="ddlType" asp-for="PlantForList.TypeId" name="typeId" class="form-control text-center" aria-label="Type" asp-items="@(new SelectList(ViewBag.TypesList,"Value", "Text"))"></select>
           <label asp-for="PlantForList.GroupId" class="control-label me-2">Group</label>
               <select id="ddlGroup" asp-for="PlantForList.GroupId" name="groupId" class="form-control text-center" aria-label="Group" asp-items="@(new SelectList(string.Empty,"Value", "Text","Group"))" ></select>
           <label asp-for="PlantForList.SectionId" class="control-label me-2">Section</label>
               <select id="ddlSection" asp-for="PlantForList.SectionId" name="sectionId" class="form-control  text-center" aria-label="Section" asp-items="@(new SelectList(string.Empty,"Value", "Text","Section"))"></select>
        <input class="form-control me-2" asp-for="SearchString" name="searchString" id="searchString" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Szukaj</button>
               <input type="hidden" name="pageNo" id="pageNo"/>
       <input type="hidden" name="pageSize" id="pageSize" value="4" />
      </form>
    </div>
  </div>
</nav>
<p></p>
<p></p>
<div class="row">
<table class="table-striped table-hover table-light">
    <thead class="thead-light">
        <tr class="text-center">
            <th>
                Id
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Zdjęcie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Plants) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Image)
                <img src="/plantGallery/searchPhoto/@item.Photo" class="img-fluid" width="120" height="80" asp-append-version="true"/>
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Sczegóły", "Details", new { id=item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div>
    <table>
        <tr>
            @for(int i =1;i<Math.Ceiling(Model.Count/(double)Model.PageSize);i++)
            {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                         <span>@i</span>   
                        }
                    </td>
                    
                }
            </tr>
    </table>

</div>
</form>
@section Scripts
{
    <script type="text/javascript">

        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
        </script>
<script type="text/javascript">
         $(function () {
        $("#ddlType").change(function () {
            $.post("@Url.Action("GetPlantGroupsList")", { typeId: $("#ddlType").val() }, function (d) {
                var row = "";
                $("#ddlGroup").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">"+v.text+"</option>";
                });
                $("#ddlGroup").html(row);
            })
        })
    })
        $(function() {
            $("#ddlGroup").change(function() {
                var tId = $("#ddlType").val();
                var gId = $("#ddlGroup").val();
                $.post('@Url.Action("GetPlantSectionsList")', { groupId: gId, typeId: tId }, function(d) {
                    var row = "";
                    $("#ddlSection").empty();
                    $.each(d, function(i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlSection").html(row);
                })
            })
        })
    </script>

}

@*<a> ancor tworzy link do strony albo do innego elementu</a>*@
