@model VFHCatalogMVC.Application.ViewModels.Plant.ListPlantForListVm

@{
    ViewData["Title"] = "Index";
}
<div id="PlaceHolderHere"></div>

<h1>Witaj w katalogu roślin uprawnych</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddPlant">Dodaj nową roślinę</a>
    </p>
}
<form asp-action="Index" asp-controller="Plants" method="post">
    <div class="container-fluid">
        <div class="row">
     <nav class="navbar navbar-expand-lg bg-light" @*style="background-color: #e3f2fd;"*@>
    @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>*@
    <div class="collapse navbar-collapse" id="navbarSupportedContent">     
         <label asp-for="PlantForList.TypeId" class="control-label md-3">Typ</label>
               <select id="ddlType" asp-for="PlantForList.TypeId" name="typeId" class="form-control text-center" aria-label="Type" asp-items="@(new SelectList(ViewBag.TypesList,"Value", "Text", selectedValue: ViewBag.TypeId))"></select>
           <label asp-for="PlantForList.GroupId" class="control-label md-3">Grupa</label>
               <select id="ddlGroup" asp-for="PlantForList.GroupId" name="groupId" class="form-control text-center" aria-label="Group" asp-items="@(new SelectList(ViewBag.GroupsList,"Value", "Text", selectedValue: ViewBag.GroupId))" ></select>
           <label asp-for="PlantForList.SectionId" class="control-label md-3">Sekcja</label>
               <select id="ddlSection" asp-for="PlantForList.SectionId" name="sectionId" class="form-control  text-center" aria-label="Section" asp-items="@(new SelectList(ViewBag.SectionsList,"Value", "Text",selectedValue:ViewBag.SectionId))"></select>
               <input class="form-control md-3" asp-for="SearchString" name="searchString" id="searchString" type="search" placeholder="Wyszukaj" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Szukaj</button>
       </div>      
</nav>
    </div>
<div class="row">
<table class="table-striped table-hover table-light" id="plantsTable">
    <thead class="thead-light">
        <tr class="text-center">
           @* <th>
                Id
            </th>*@
            <th>
                Nazwa
            </th>
            <th>
                Zdjęcie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Plants) 
{
        <tr class="text-center">
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
              <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Image)
                <img src="/plantGallery/searchPhoto/@item.Photo" class="img-fluid" width="120" height="80" asp-append-version="true"/>
            </td>
            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Edytuj ", "Edit", new {  id=item.Id }, new { @class = "btn btn-info" })
                                <span>|</span>
                                    @Html.ActionLink("Sczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-warning" })
                                <span>|</span>
                                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger"} )
                                }
                                else
                                {
                                 @if (User.IsInRole("PrivateUser") || User.IsInRole("Company"))
                                    {

                                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#Plant" data-url="@Url.Action($"AddSeed/{item.Id}")" >+Nasiona</button>                                       
                                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#Plant" data-url="@Url.Action($"AddSeedling/{item.Id}")" >+Sadzonki</button>
                                        <button type="button" class="btn btn-primary" onclick="window.location= '@Url.Action( "IndexSeeds", "Plants",new {id=item.Id})'">Nasiona</button>
                                        <button type="button" class="btn btn-primary" onclick="window.location= '@Url.Action( "IndexSeedlings", "Plants",new {id=item.Id})'">Sadzonki</button>
                                        <button type="button" class="btn btn-warning" onclick="window.location= '@Url.Action( "Details", "Plants",new {id=item.Id})'">Szczegóły</button>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Sczegóły", "Details", new { id = item.Id })
                                    }
                                }
                                                                
            </td>
           </tr>
}
    </tbody>
</table>
</div>
<div class="row">
    <table>
        <tr>
            @for(int i =1;i<Math.Ceiling(Model.Count/(double)Model.PageSize);i++)
            {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                         <span>@i</span>   
                        }
                    </td>
                    
                }
            </tr>
    </table>
    <input type="hidden" name="pageNo" id="pageNo"/>
    <input type="hidden" name="pageSize" id="pageSize" value="2" />
</div>
</div>
</form>
@section Scripts
{ <script type="text/javascript">

        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }

         $(function () {
        $("#ddlType").change(function () {
            $.post("@Url.Action("GetPlantGroupsList")", { typeId: $("#ddlType").val() }, function (d) {
                var row = "";
                $("#ddlGroup").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">"+v.text+"</option>";
                });
                $("#ddlGroup").html(row);
            })
        })
    })
        $(function() {
            $("#ddlGroup").change(function() {
                var tId = $("#ddlType").val();
                var gId = $("#ddlGroup").val();
                $.post('@Url.Action("GetPlantSectionsList")', { groupId: gId, typeId: tId }, function(d) {
                    var row = "";
                    $("#ddlSection").empty();
                    $.each(d, function(i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlSection").html(row);
                })
            })
        })

//$(function Delete(id) {
//    var table = $("#plantsTable")
//    $.post('@Url.Action("Delete")', { id=id },
//        table.reload();
//})

    //document.location.reload();
    </script>

}

@*<a> ancor tworzy link do strony albo do innego elementu</a>*@
