@model VFHCatalogMVC.Application.ViewModels.Plant.PlantDetailsVm

@{
    ViewData["Title"] = "PlantDetails";
}

<h1>PlantDetails</h1>

<div>
    <h4>PlantDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FruitSizeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FruitSizeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FruitTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FruitTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantPassportNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantPassportNumber)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
