@model VFHCatalogMVC.Application.ViewModels.Message.MessageVm

<div class="modal fade" id="User" tabindex="-1" role="dialog" aria-labelledby="GetMessageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="GetMessageLabel">Wiadomość</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()            
                <h4>MessageVm</h4>
                <hr />
                <dl class="row">
                    @if (Model.UserName != null)
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                    }
                    else
                    {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AccountName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AccountName)
                    </dd>
                    }
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AddedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AddedDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MessageContent)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MessageContent)
                    </dd>                                                                   
                </dl>
                @* <form action="SendNewPlantUserMessage">
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    @*<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />*@
                  @*  <input type="hidden" asp-for="AddedDate" class="form-control" />
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" class="form-control" />
                    <input type="hidden" asp-for="PlantId" value="@Model.PlantId" class="form-control" />
                    <input type="hidden" asp-for="messageIdisAnswer" value="@Model.Id" class="form-control"/>*@
                  
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
                   @* <button type="button" class="btn btn-primary" data-save="modal">Odpowiedz</button>*@
                </div>
                @*</form>*@
            </div>
            </div>
        </div>
    </div>
