@model VFHCatalogMVC.Application.ViewModels.User.UserSeedsForListVm

@{
    ViewData["Title"] = "IndexSeeds";
}
<div id="UserPlaceHolderHere"></div>
<h1>Twoja lista nasion</h1>

<p class="disabled">
    <a asp-action="Messages">Wiadmości</a>
</p>
<form asp-action="IndexSeeds" asp-controller="User" method="post">
    <div class="container-fluid">
        <div class="row">
     <nav class="navbar navbar-expand-lg bg-light" @*style="background-color: #e3f2fd;"*@>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">     
         <label asp-for="PlantForList.TypeId" class="control-label md-3">Typ</label>
               <select id="ddlType" asp-for="PlantForList.TypeId" name="typeId" class="form-control text-center" aria-label="Type" asp-items="@(new SelectList(ViewBag.TypesList,"Value", "Text", selectedValue: ViewBag.TypeId))"></select>
           <label asp-for="PlantForList.GroupId" class="control-label md-3">Grupa</label>
               <select id="ddlGroup" asp-for="PlantForList.GroupId" name="groupId" class="form-control text-center" aria-label="Group" asp-items="@(new SelectList(ViewBag.GroupsList,"Value", "Text", selectedValue: ViewBag.GroupId))" ></select>
           <label asp-for="PlantForList.SectionId" class="control-label md-3">Sekcja</label>
               <select id="ddlSection" asp-for="PlantForList.SectionId" name="sectionId" class="form-control  text-center" aria-label="Section" asp-items="@(new SelectList(ViewBag.SectionsList,"Value", "Text",selectedValue:ViewBag.SectionId))"></select>
               <input class="form-control md-3" asp-for="SearchString" name="searchString" id="searchString" type="search" placeholder="Wyszukaj" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Szukaj</button>
       </div>      
</nav>
    </div>
<div class="row">
            <table class="table-striped table-hover table-light">
     <thead class="thead-light">
      <tr class="text-center">
            <th class="text-center">
               Nazwa
            </th>
            <th>
               Ilość
            </th>
            <th>
               Opis
            </th>
            <th>
              Data dodania
           </th>
           <th>
               Zdjęcie
           </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
                    @foreach (var item in Model.UserSeeds)
                    {
            <tr class="text-center">
                <td>
                                @Html.DisplayFor(modelItem => item.PlantForList.FullName)
                </td>
                <td>
                                @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                                @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                                @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                                @Html.DisplayFor(modelItem => item.PlantForList.Image)
                 <img src="/plantGallery/searchPhoto/@item.PlantForList.Photo" class="img-fluid" width="120" height="80" asp-append-version="true" />\
                </td>
                <td>
                 <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#User" data-url="@Url.Action($"EditSeed/{item.Id}")">Edytuj</button>
                 <button type="button" class="btn btn-danger" onclick="window.location= '@Url.Action( "DeleteSeed", "User",new {id=item.Id})'">Usuń</button>
                </td>
            </tr>
                    }
    </tbody>
</table>
</div>
<div class="row">
    <table>
        <tr>
                    @for (int i = 1; i < Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                    {
                            <td>
                            @if (i != Model.CurrentPage)
                            {
                            <a href="javascript:PagerClick(@i)">@i</a>
                            }
                            else
                            {
                               <span>@i</span>   
                            }
                            </td>

                    }
            </tr>
    </table>
    <input type="hidden" name="pageNo" id="pageNo"/>
    <input type="hidden" name="pageSize" id="pageSize" value="10" />
</div>
</div>
@* @if (ViewData["JavaScript"] != null)
                    {
                        <script>
                            @Html.Raw(ViewData["JavaScript"])
                        </script>
                    }*@
</form>
@section Scripts
    {
     <script type="text/javascript">

            function PagerClick(index)
            {
                document.getElementById("pageNo").value = index;
                document.forms[0].submit();
            }

             $(function () {
            $("#ddlType").change(function () {
                $.post("@Url.Action("GetPlantGroupsList")", { typeId: $("#ddlType").val() }, function (d) {
                    var row = "";
                    $("#ddlGroup").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">"+v.text+"</option>";
                    });
                    $("#ddlGroup").html(row);
                })
            })
        })
            $(function() {
                $("#ddlGroup").change(function() {
                    var tId = $("#ddlType").val();
                    var gId = $("#ddlGroup").val();
                    $.post('@Url.Action("GetPlantSectionsList")', { groupId: gId, typeId: tId }, function(d) {
                        var row = "";
                        $("#ddlSection").empty();
                        $.each(d, function(i, v) {
                            row += "<option value=" + v.value + ">" + v.text + "</option>";
                        });
                        $("#ddlSection").html(row);
                    })
                })
            })

        </script>

}

