@model VFHCatalogMVC.Application.ViewModels.User.NewUserPlantsForListVm

@{
    ViewData["Title"] = "IndexNewPlants";
}
<body>
@*<h1>IndexNewPlants</h1>*@
<div id="PlaceHolderHere"></div>
<p>
    <a asp-action="AddPlant" asp-controller="Plant" class="btn btn-success">Add new plant</a>
</p>
<form asp-action="IndexNewPlants" asp-controller="User" method="post">
    <div class="container-fluid">
        <div class="row">
     <nav class="navbar navbar-expand-lg" @*style="background-color: #e3f2fd;"*@>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">     
         <label asp-for="PlantForList.TypeId" class="control-label">Type</label>
               <select id="ddlType" asp-for="PlantForList.TypeId" name="typeId" class="form-control text-center" aria-label="Type" asp-items="@(new SelectList(ViewBag.TypesList,"Value", "Text", selectedValue: ViewBag.TypeId))"></select>
           <label asp-for="PlantForList.GroupId" class="control-label">Group</label>
               <select id="ddlGroup" asp-for="PlantForList.GroupId" name="groupId" class="form-control text-center" aria-label="Group" asp-items="@(new SelectList(ViewBag.GroupsList,"Value", "Text", selectedValue: ViewBag.GroupId))" ></select>
           <label asp-for="PlantForList.SectionId" class="control-label">Subgroup</label>
               <select id="ddlSection" asp-for="PlantForList.SectionId" name="sectionId" class="form-control  text-center" aria-label="Section" asp-items="@(new SelectList(ViewBag.SectionsList,"Value", "Text",selectedValue:ViewBag.SectionId))"></select>
                    <label asp-for="ViewAll" class="control-label text-md-center">Display all</label>
                    @Html.CheckBoxFor(m=>Model.ViewAll, new { @class = "checkbox" , id="viewAll", name="viewAll"})
                    <button class="btn btn-outline-success" id="Submit" type="submit">Search</button>
       </div>      
</nav>
    </div>
    <div class="row">
        <table class="table-striped table-hover">
            <thead class="thead-light">
                <tr class="text-center">
            <th class="text-center">
               Name
            </th>
            <th>
                Image
            </th>
              <th>
               User
              </th>
            <th>
               Notes
            </th>
               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewUserPlants) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.PlantForList.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantForList.Image)
                <img src="/plantGallery/searchPhoto/@item.PlantForList.Photo" class="img-fluid" width="120" height="80" asp-append-version="true" />
            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                                     
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
                            
            <td>
            <button type="button" class="btn btn-info" onclick="window.location= '@Url.Action( "Edit", "Plants",new {id=item.PlantId})'">Edit</button>
            <button type="button" class="btn btn-warning" onclick="window.location= '@Url.Action( "Details", "Plants",new {id=item.PlantId})'">Details</button>
            <button type="button" class="btn btn-primary" onclick="window.location= '@Url.Action( "IndexPlantMessages", "Message",new {id=item.PlantId,newPlant=true})'">Message</button>
            <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#Message" data-url="@Url.Action("SendPlantMessage","Message",new {id=item.PlantId, newPlant=true})">Send message</button>
             @*<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#User" data-url="@Url.Action($"SendPlantMessage/{item.PlantId}")">Wyślij wiadomość</button>*@
             @if (User.IsInRole("Admin"))
              {
               <button type="button" class="btn btn-success" onclick="window.location= '@Url.Action( "ActivatePlant", "Plants",new {id=item.PlantId})'">Activate</button>
              }
                               
        </tr>
}
    </tbody>
</table>
        </div>
        <div class="row">
            <table>
                <tr>
                    @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                    {
                        <td>
                            @if (i != Model.CurrentPage)
                            {
                                <a href="javascript:PagerClick(@i)">@i</a>
                            }
                            else
                            {
                                <span>@i</span>
                            }
                        </td>

                    }
                </tr>
            </table>
            <input type="hidden" name="pageNo" id="pageNo" />
            <input type="hidden" name="pageSize" id="pageSize" value="30" />
        </div>
    </div>
</form>
</body>
@section Scripts
    {
    <script type="text/javascript">

        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }

        $(function () {
            $("#ddlType").change(function () {
                $.post("@Url.Action("GetPlantGroupsList")", { typeId: $("#ddlType").val() }, function (d) {
                    var row = "";
                    $("#ddlGroup").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlGroup").html(row);
                })
            })
        })
        $(function () {
            $("#ddlGroup").change(function () {
                var tId = $("#ddlType").val();
                var gId = $("#ddlGroup").val();
                $.post('@Url.Action("GetPlantSectionsList")', { groupId: gId, typeId: tId }, function (d) {
                    var row = "";
                    $("#ddlSection").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#ddlSection").html(row);
                })
            })
        })

    </script>

    }
