@model VFHCatalogMVC.Application.ViewModels.Message.MessageForListVm

<div class="modal fade" id="User" tabindex="-1" role="dialog" aria-labelledby="messagesFromAdminLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                <h4 class="modal-title" id="messagesFromAdminLabel"></h4>
                        <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                        </button>
                    </div>
                    <div class="modal-body">
<table class="table">
    <thead>
        <tr>
            <th>
               Nadawca
            </th>
       @*     <th>
               Odbiorca
            </th>*@
            <th>
               Wiadomość
            </th>
            <th>
               Data wysłania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Message) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
         @*   <td>
                @Html.DisplayFor(modelItem => item.MessageReceiver.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MessageContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @if(item.UserName!= User.Identity.Name)
                {
             <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#User" data-url="@Url.Action($"SendMessageToAdmin/{item.PlantId}"@*,"Message"*@)">Odpowiedz</button>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
            <table>
                <tr>
                            @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                            {
                                        <td>
                                    @if (i != Model.CurrentPage)
                                    {
                                        <a href="javascript:PagerClick(@i)">@i</a>
                                    }
                                    else
                                    {
                                        <span>@i</span>
                                    }
                            </td>

                            }
                </tr>
            </table>
            <input type="hidden" name="pageNo" id="pageNo" />
            <input type="hidden" name="pageSize" id="pageSize" value="10" />
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" data-save="modal">Odpowiedz</button>
                </div>
</div>
</div>
</div>
</div>

@section Scripts
{

    <script type="text/javascript">

        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
           
        }
        </script>
    
}
   
