@page
@model RegisterModel
@using VFHCatalogMVC.Web.Controllers

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.IsPrivateUser">Użytkownik prywatny</label>
                @Html.CheckBoxFor(m=>Model.Input.IsPrivateUser)     
                <label asp-for="Input.IsCustomer">Firma</label>
                @Html.CheckBoxFor(m=>Model.Input.IsCustomer) 
            </div>
            <div class="form-group">
                <label asp-for="Input.AddressVm.CountryId">Kraj</label>
                 <select id="ddlCountry" asp-for="Input.AddressVm.CountryId" name="countryId" class="form-control text-center" aria-label="Country" asp-items="@(new SelectList(ViewBag.Country,"Value", "Text"))"></select>
                 <span asp-validation-for="Input.AddressVm.CountryId" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="Input.AddressVm.VoivodeshipId">Województwo</label>
                 <select id="ddlVoivodeship" asp-for="Input.AddressVm.VoivodeshipId" name="voivodeshipId" class="form-control text-center" aria-label="Voivodeship" asp-items="@(new SelectList(@*ViewBag.Voivodeship*@ string.Empty,"Value", "Text"))"></select>
                 <span asp-validation-for="Input.AddressVm.VoivodeshipId" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="Input.AddressVm.CityId">Miasto</label>
                 <select id="ddlCity" asp-for="Input.AddressVm.CityId" name="CityId" class="form-control text-center" aria-label="City" asp-items="@(new SelectList(string.Empty,"Value", "Text"))"></select>
                 <span asp-validation-for="Input.AddressVm.CityId" class="text-danger"></span>
             </div>
            <div class="form-group" id="privateUserAccount" >
                <label asp-for="Input.PrivateUserVm.AccountName">Nazwa konta</label>
                <input asp-for="Input.PrivateUserVm.AccountName" class="form-control"/>
                <span asp-validation-for="Input.PrivateUserVm.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                            for details on setting up this ASP.NET application to support logging in via external services.
                                        </p>
                                    </div>
                }
                else
                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins)
                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                            </p>
                                        </div>
                                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
       
     $(function () {
        $("#ddlCountry").change(function () {
             var countryId = $("#ddlCountry").val();
            //$.getJSON("GetVoivodeships", id: countryId, function(d) { 
             $.post("@Url.Action("GetVoivodeships","Address")", { id: countryId }, function (d) {
                var row = "";
                $("#ddlVoivodeship").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">"+v.text+"</option>";
                });
                $("#ddlVoivodeship").html(row);
            })
        })
    })

     $(function () {
        $("#ddlVoivodeship").change(function () {
             var voivodeshipId = $("#ddlVoivodeship").val();
            //$.getJSON("GetVoivodeships", id: countryId, function(d) { 
             $.post("@Url.Action("GetCities","Address")", { id: voivodeshipId }, function (d) {
                var row = "";
                $("#ddlCity").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">"+v.text+"</option>";
                });
                $("#ddlCity").html(row);
            })
        })
    })
     </script>
     }
  @*  <script type="text/javascript">
       $(function () {
            $("#ddlCountry").on("change", function () {
                var countryId = $("#ddlCountry").val();
                $("#ddlVoivodeship").empty();
                $("#ddlVoivodeship").append("<option value=''>Select Voivodeship</option>");
                $.getJSON(`?handler=GetVoivodeships=${countryId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#ddlVoivodeship").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            });
        });
    </script>*@
@*}*@
